<template name="home">
	{{>header}}

	<div class="main_content">		
		<h1>CONVERT YOUR <strong style="color: rgb(199, 226, 230);">WEBSITE LEADS</strong> LIKE A PROFESSIONALE</h1>
		<h2>And did we mention even those you thought you lost</h2>
		<a class="call_to_action" href="/signup">SIGNUP NOW</a>
		
		<div id="site_images">
			<img src="/images/site_photo.png" />
			<img src="/images/site_photo.png" />
			<img src="/images/site_photo.png" />
			<div style="clear:both;"></div>		
		</div>
		
		<div id="site_image_drop_shadows">
			<div class="drop_shadow"></div>
			<div class="drop_shadow"></div>
			<div class="drop_shadow"></div>
			<div style="clear:both;"></div>		
		</div>		
	</div>

	{{>footer}}
	
</template>

<template name="header">
	<header>
		<div class="nav_container">
				<a href="/" id="nav_logo" style="font-size:34px;">
					<img src="/images/logo_bright.png" style="height: 45px;position: relative;top: -6px;" /> VORTEX <span class="con">CON</span><span class="vert">VERT</span>
				</a>

				<ul class="nav_links">
					<li class="menu-item">
						<a href="/login">Login</a>
					</li>
					<li class="menu-item">
						<a href="/signup">Signup</a>
					</li>
					<li class="menu-item">
						<a href="/" class="active">Home</a>
					</li>
				</ul>
		</div>	
	</header>
</template>

<template name="footer">
	<footer>
		<div class="footer_container">
			<div class="footer_column">
				<i class="icon-power-off"></i>
				<h4>Affiliates Welcome</h4>
				<p>Integrate with your current platforms, such as Limelight and Cake Marketing.</p>
			</div> 

			<div class="footer_column">
				<i class="icon-globe"></i>
				<h4>Optimize Landing Pages</h4>
				<p>Don't let a single lead slip through the cracks. Translates insights to enhancements.</p>
			</div>

			<div class="footer_column">
				<i class="icon-share-sign"></i>
				<h4>Recover Lost Prospects</h4>
				<p>Stay on top of the game. Take back control of your website funnel.</p>
			</div>

			<div class="footer_column">
				<i class="icon-envelope"></i>
				<h4>Automate Email</h4>
				<p>Never lose a prospect again. Send scheduled emails 'till they return.</p>
			</div>
			
			<div style="clear:both;"></div>
		</div>
		
		<div id="footer_copyright">© 2014 Vortex Traffic, Inc. All Rights Reserved. For more information: <a href="mailto:info@vortexconvert.com" target="_blank">info@vortexconvert.com</a></div>
	</footer>
</template>