<template name="home">
	{{>header}}

	<div class="main_content">		
		<h1>CLEAN&nbsp;<strong>RESPONSIVE</strong>&nbsp;THEME &amp; GREAT DOCUMENTATION</h1>
		<h2>Check out a growing collection of slider layouts</h2>
		<a class="call_to_action" title="Call to Action Button" href="#">Call to Action Button</a>
	</div>

	{{>footer}}
	
</template>

<template name="header">
	<header>
		<div class="nav_container">
				<a href="http://venera.pinsupreme.com/" id="nav_logo">VORTEX CONVERSION</a>

				<ul class="nav_links">
					<li class="menu-item">
						<a href="http://venera.pinsupreme.com/">Login</a>
					</li>
					<li class="menu-item">
						<a href="http://venera.pinsupreme.com/">Signup</a>
					</li>
					<li class="menu-item">
						<a href="http://venera.pinsupreme.com/" class="active">Home</a>
					</li>
				</ul>
		</div>	
	</header>
</template>

<template name="footer">
	<footer>
		<div class="footer_container">
			<div class="footer_column">
				<i class="icon-power-off"></i>
				<h4>Blog Pages Design</h4>
				<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
			</div> 

			<div class="footer_column">
				<i class="icon-globe"></i>
				<h4>Blog Pages Design</h4>
				<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
			</div>

			<div class="footer_column">
				<i class="icon-trophy"></i>
				<h4>Blog Pages Design</h4>
				<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
			</div>

			<div class="footer_column">
				<i class="icon-dollar"></i>
				<h4>Blog Pages Design</h4>
				<p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
			</div>
		</div>
	</footer>
</template>