<template name="home">
	<div class="main_content">		
		<h1>CONVERT YOUR <strong style="color: rgb(199, 226, 230);">WEBSITE LEADS</strong> LIKE A PROFESSIONALE</h1>
		<h2>And did we mention even those you thought you lost</h2>
		<a class="call_to_action" href="/signup">SIGNUP NOW</a>
		
		<div id="site_images">
			<img src="/images/screenshots/create_campaign.png" style="height: 276px;" />
			<img src="/images/screenshots/dashboard.png" style="height: 276px;" />
			<img src="/images/screenshots/my_recoveries.png" style="height: 276px;"/>
			<div style="clear:both;"></div>		
		</div>
		
		<div id="site_image_drop_shadows">
			<img src="/images/shadow.png" class="drop_shadow" />
			<img src="/images/shadow.png" class="drop_shadow" />
			<img src="/images/shadow.png" class="drop_shadow" />
			<img src="/images/shadow.png" style="clear:both;" />	
		</div>		
	</div>
</template>