.content-wrapper .content-inner.content-inner-grey .breadcrumb a {
text-decoration: none !important;
cursor: default !important;	
}

.btn-xs {
	margin-top: 2px;
}

.crm {
	background-color: rgb(0, 0, 0);
	border-radius: 6px;
	color: rgb(255, 255, 255);
	font-size: 23px;
	position: relative;
	top: -1px;
	padding: 0px 2px 0px 5px;
	font-weight: bold;
	letter-spacing: 3px;
}