header {
	background-color: #263946;
	height: 78px;
	width: 100%;
	border-bottom: 1px solid #31D1AB;
}

.nav_container {
margin: 0 auto; 
width: 1045px;	
padding-top:20px;
}

a#nav_logo {
color: white;
font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 400;
height: 40px;
width: 200px;
}

a#nav_logo:hover {
	text-decoration:none;
}

ul.nav_links {
	float: right;
}

ul.nav_links li {
	float: right;
	margin-left: 18px;
	list-style: none;
}

ul.nav_links a {
	color:white;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	height: 36px;
	line-height: 36px;
	width: 70px;
	padding-left:16px;
	display:block;
}

ul.nav_links a:hover {
	text-decoration: none;
}

ul.nav_links a.active {
	color: #fff;
text-decoration: none;

	background-color: #6BADCC;
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
border-bottom: none;
}

.main_content{
	background: url("/images/triangles.png") -20px 0px;
	height: 600px;
	padding-top: 30px;
	-webkit-box-shadow: inset 0px -22px 4px -10px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 0px -22px 4px -10px rgba(0,0,0,0.16);
	box-shadow: inset 0px -22px 4px -10px rgba(0,0,0,0.16);
}

.main_content h1 {
	color: rgb(255, 255, 255);
	display: block;
	font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	height: 58px;
	margin: 26px auto 12px;
	padding-bottom: 10px;
	text-align: center;
	text-rendering: optimizelegibility;
	text-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 2px;
	
	border-bottom: 1px solid #5E968C;
	width: 1045px;
}

.main_content h2 {
	color: rgb(202, 224, 223);
	display: block;
	font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	height: 43px;
	line-height: 43.1875px;
	margin: 12px auto 30px;
	text-align: center;
	text-rendering: optimizelegibility;
}

.call_to_action {
	text-decoration:none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 5px 0px, rgb(255, 255, 255) 0px 2px 2px 0px inset;
	background-color: rgb(232, 230, 224);
	background-image: linear-gradient(rgb(240, 238, 232), rgb(220, 218, 212));
	background-repeat: repeat-x;
	border-bottom-color: rgb(61, 120, 117);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(69, 137, 134);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(69, 137, 134);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(78, 154, 150);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 5px 0px, rgb(255, 255, 255) 0px 2px 2px 0px inset;
	color: rgb(85, 85, 85);
	cursor: pointer;
	font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 300;
	height: 74px;
	line-height: 32px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 20px;
	text-align: center;
	text-decoration: none solid rgb(85, 85, 85);
	vertical-align: middle;
	width: 280px;
	display:block;
}
.call_to_action:hover {
	text-decoration:none;
	color: rgb(85, 85, 85);
	box-shadow: none;
}

footer {
	position: relative;
	border-top: 2px solid #4b5866;
	border-bottom: 2px solid #4b5866;
	background-color:#556270;
	height: 340px;
	
	-webkit-box-shadow: inset 0px 22px 4px -10px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 0px -22px 4px -10px rgba(0,0,0,0.16);
	box-shadow: inset 0px 10px 4px -10px rgba(255,255,255, .4);
}

.footer_container {
	margin: 30px auto 0px; 
	width: 1045px;
}

.footer_column {
	float:left;
	margin-right: 30px;
	height: 250px;
	width: 230px;
	color: white;
}

.footer_column i {
font-size: 100px;
margin-left: 70px;
text-shadow: 1px 1px 8px black;
color: #EEE;
}

.footer_column h4 {
color: #fff;
font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 22px;
margin-bottom: 10px;
margin-top: 20px;
padding-bottom: 10px;
border-bottom: 2px solid #465361;
-webkit-box-shadow: 0px 2px 0px 0px #5f6c7a;
-moz-box-shadow: 0px 2px 0px 0px #5f6c7a;
box-shadow: 0px 2px 0px 0px #5f6c7a;
-webkit-box-shadow: 0px 2px 0px 0px #5f6c7a;
-moz-box-shadow: 0px 2px 0px 0px #5f6c7a;
box-shadow: 0px 2px 0px 0px #5f6c7a;

text-align: center;
}

.footer_column p {
	color: #cbd0da;
font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 100;
text-shadow: 1px 1px 1px #2B3239;
text-align: center;
}

