<head>
	<title>VORTEX CONVERT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/apple-touch-icon.png" rel="apple-touch-icon">
	
	<link href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700%2C300%7CRoboto+Condensed%3A300%2C400%2C700&#038;ver=3.5.2' rel='stylesheet' type='text/css' media='all' />
	<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/js/bootstrap/html5shiv.js"></script>
		<script src="/js/bootstrap/respond.min.js"></script>
	<![endif]-->	
</head>


<template name="main_layout">
	<div class="all-wrapper">
		<div class="row">
		
			{{>sidebar}}
		
	    	<div class="col-md-9">
	      		<div class="content-wrapper">
	        		<div class="content-inner content-inner-grey">	
	          			{{>page_header}}
						{{>breadcrumbs}}
						
						{{#isolate}}
							<div id="on_off" style="position: absolute;top: 87px;right: 24px;z-index: 100;">
								<a id="notification_off" href="#" class="btn btn-xs btn-{{notifSelected 'off'}}" style="float:right;">OFF</a>
								<a id="notification_on" href="#" class="btn btn-xs btn-{{notifSelected 'on'}}" style="float:right;">ON</a>
								<div style="float:right; margin-right:5px; margin-top: 2px;">NOTIFICATIONS:</div>
							</div>
						{{/isolate}}
						
	          			<div class="main-content" style="overflow:hidden; min-height:650px;">
							{{> flashMessages}}
	            			{{yield}}
		      			</div>
	        		</div>
	      		</div>
	    	</div>
	
	  </div>

	</div>
</template>


<template name="login_layout">
	<div class="all-wrapper no-menu-wrapper">
		
	  <div class="login-logo-w">
	    <a href="index.html" class="logo">
	      <img src="/images/logo_sidebar.png" style="	width: 105px;margin-left: -24px;" />
	       <span>VORTEX <span class="con" style="display:inline;font-weight:500;">CON</span><span class="vert" style="display:inline;">VERT</span></span>
	    </a>
	  </div>
	
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4">
	      {{yield}}
		</div>
	  </div>

	</div>
</template>

<template name="example_site_layout">
	<div id="example_site_container">
		{{yield}}
	</div>
</template>


<template name="public_layout">
	{{>header}}
	<div id="public_container">
		{{yield}}
	</div>
	{{>footer}}
</template>