<template name="footer">
	<footer>
		<div class="footer_container">
			<div class="footer_column">
				<i class="icon-power-off"></i>
				<h4>Affiliates Welcome</h4>
				<p>Integrate with your current platforms, such as Limelight and Cake Marketing.</p>
			</div> 

			<div class="footer_column">
				<i class="icon-globe"></i>
				<h4>Optimize Landing Pages</h4>
				<p>Don't let a single lead slip through the cracks. Translates insights to enhancements.</p>
			</div>

			<div class="footer_column">
				<i class="icon-share-sign"></i>
				<h4>Recover Lost Prospects</h4>
				<p>Stay on top of the game. Take back control of your website funnel.</p>
			</div>

			<div class="footer_column">
				<i class="icon-envelope"></i>
				<h4>Automate Email</h4>
				<p>Never lose a prospect again. Send scheduled emails 'till they return.</p>
			</div>
			
			<div style="clear:both;"></div>
		</div>
		
		<div id="footer_copyright">© 2014 Vortex Traffic, Inc. All Rights Reserved. For more information: <a href="mailto:info@vortexconvert.com" target="_blank">info@vortexconvert.com</a></div>
	</footer>
</template>