<template name="sidebar">
<div class="col-md-3">
	<div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
		
		
	  <a href="#" class="logo hidden-sm hidden-xs">
	    <i class="icon-cloud-download"></i>
	    <span>Vortex Convert</span>
	  </a>
	
	
	  <ul class="side-menu side-menu-green-sea">
	    <li>
	      <a href="/my-recoveries">
	        <span class="badge badge-notifications pull-right alert-animated">{{todaysRecoveries}}</span>
	        <i class="icon-flag"></i> Today's Recoveries
	      </a>
	    </li>
	  </ul>
	
	
	  <div class="relative-w">	
	    <ul class="side-menu side-menu-green-sea">
	      <li class="{{isCurrent 'dashboard'}}">
	        <a href="/dashboard">
	          <span class="badge pull-right"></span>
	          <i class="icon-dashboard"></i> Dashboard
	        </a>
	
	      </li>
	     
	      <li class="{{isCurrent 'my_campaigns'}}">
	        <a href="/my-campaigns">
	          <span class="badge pull-right">{{currentUser.totalCampaigns}}</span>
	          <i class="icon-th"></i> My Campaigns
	        </a>
	      </li>

	      <li class="{{isCurrent 'my_recoveries'}}">
	        <a href="/my-recoveries">
	          <span class="badge pull-right">{{stats.user.recoveries}}</span>
	          <i class="icon-user"></i> My Recoveries
	        </a>
	      </li>

	   	 <li class="{{isCurrent 'my_account'}}">
	        <a href="/my-account">
	          <span class="badge pull-right"></span>
	          <i class="icon-cog"></i> My Account
	        </a>
	      </li>
	
	      <li class="{{isCurrent 'create_campaign'}}">
	        <a href="/campaign/update/step-1">
	          <span class="badge pull-right"></span>
	          <i class="icon-signin"></i> Create Campaign
	        </a>
	      </li>
	    </ul>
	  </div>
	
	
	{{#if isAdmin}}
	 <ul class="side-menu side-menu-green-sea">
	    <li>
	      <a href="/admin/campaign-approval">
	        <span class="badge badge-notifications pull-right" style="background-color:rgb(255, 60, 60); color:white;">{{unapprovedCampaigns}}</span>
	        <i class="icon-check"></i> Campaign Approval
	      </a>
	    </li>
	  </ul>
	 {{/if}}
	
	
	</div>
</div>
</template>