<template name="my_campaigns">
	<div class="widget" style="min-height: 500px;">
      <h3 class="section-title first-title"><i class="icon-table"></i> My Campaigns</h3>
      <div class="widget-content-white glossed">
        <div class="padded">
        <table class="table table-striped table-bordered table-hover datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th title="Email Deliveries">Dels</th>
		   	  <th title="Prospect Returns">Rets</th>
			  <th title="Prospect/Customer Recoveries">Recs</th>
		   	  <th>Status</th>
              <th style="width: 120px;">Actions</th>
            </tr>
          </thead>
          <tbody>
           
				{{#each campaigns}}
					<tr>
	                  <td><a href="/campaign/update/step-3/{{_id}}"> {{name}}</a></td>
	                  <td>{{url}}</td>
					
	                  <td class="text-right" id="deliveries_{{_id}}">{{deliveries}}</td>
					  <td class="text-right" id="returns_{{_id}}">{{returns}}</td>
					  <td class="text-right" id="recoveries_{{_id}}">{{recoveries}}</td>
					
	                  <td><span class="label label-{{statusClass}}">{{statusName}}</span></td>
	
	                  <td class="text-right">
						<a href="#" class="btn btn-default btn-xs pause_play"><i class="icon-{{statusText}}"></i></a>
	                    <a href="/campaign/update/step-3/{{_id}}" class="btn btn-default btn-xs"><i class="icon-pencil"></i> edit</a>
	                    <a href="#" class="btn btn-danger btn-xs remove_campaign"><i class="icon-remove"></i></a>
	                  </td>
	                </tr>
				{{/each}}
           
           
          </tbody>
        </table>
        </div>
      </div>
    </div>
</template>