<template name="my_recoveries">
	<div class="widget" style="margin-bottom: -20px; min-height:500px;">
		
      <h3 class="section-title first-title">
		<i class="icon-table"></i> 
		My Recovered Prospects
		<select style="float:right; font-size: 16px;">
			<option value="all" {{selected 'all'}}>All Campaigns</option>
			{{#each currentUser.campaigns}}
				<option value="{{_id}}" {{selected _id}}>{{name}}</option>
			{{/each}}
		</select>
	  </h3>
	
		<p><i>Below are your latest prospects. Click the TEST buttons to see what they see when they follow your links.</i></p>
		
      <div class="widget-content-white glossed">
        <div class="padded">
        <table class="table table-striped table-bordered table-hover datatable">
          <thead>
            <tr>
              <th>Email</th>
              <th>Campaign</th>
		   	  <th style="width:128px;">Date/Time</th>
			  <th style="width:88px;">Status</th>
			<th style="width:52px;">Test</th>
            </tr>
          </thead>
          <tbody>
           
				{{#each currentUser.prospects my_recoveries_campaign_id}}
					<tr>
	                  <td>{{email}}</td>
					  <td><a href="/campaign/update/step-3/{{campaign_id}}">{{getCampaign.name}}</a></td>
					
					  <td>{{time 'updated_at'}}</td>
	                  <td><span class="label label-{{getStatusClass}}"><i class="icon-{{iconClass}}"></i> {{getStatus}}</span></td>
					  <td>
						{{#if canBeTested}}
							<a href="/example/page-1?p={{_id}}&c={{campaign_id}}" target="_blank" title="Click to Test visiting the link this prospect receives via email. It will affect your stats so you can verify, but you can undo it." onclick="alert('Careful. You are about to follow the link the prospect received via email. Doing this affects your stats. Click the resulting UNDO button to turn the stats back.')" class="btn btn-default btn-xs test">TEST</a>
							
						{{else}}
						   <a href="#" class="btn btn-default btn-xs undo" title="Click to undo the affect of this prospect visiting the email link.">UNDO</a>
						{{/if}}
					  </td>
	                </tr>
				{{/each}}
           
           
          </tbody>
        </table>
        </div>
		
      </div>

	 {{#if displayLoadMoreProspects}}
		<a href="#" id="load_more_prospects" class="btn btn-primary btn-lg" style="width: 100%; margin-top:10px;">LOAD MORE PROSPECTS</a>
	 {{/if}}
	
    </div>
</template>