<template name="page_1">
	<h1>Dynamic Destination Landing Page Instructions</h1>
	
	<div id="html_holder"></div>
	
	<div id="inputs_holder">
		<label>First Name</label><input class="vortex_first_name" /> <div style="clear:both;"></div>
		<label>Last Name</label><input class="vortex_last_name" /> <div style="clear:both;"></div>
		<label>Email</label><input class="vortex_email" /> <div style="clear:both;"></div>
		<label>Phone</label><input class="vortex_phone" /> <div style="clear:both;"></div>
		<label>Address</label><input class="vortex_address" /> <div style="clear:both;"></div>
		<label>Address 2</label><input class="vortex_address_2" /> <div style="clear:both;"></div>
		<label>City</label><input class="vortex_city" /> <div style="clear:both;"></div>	 
		<label>State</label><input class="vortex_state" /> <div style="clear:both;"></div>
		<label>Country</label><input class="vortex_country" /> <div style="clear:both;"></div>
		<label>Zip</label><input class="vortex_zip" /> <div style="clear:both;"></div>
		<label>IP Address</label><input class="vortex_ip_address" /> <div style="clear:both;"></div>
	</div>
</template>

<template name="directions">
To prepare your landing page for the insertion of your prospect info, you must apply special classes to your text elements or inputs. For example: <b>&ltdiv class="vortex_first_name"&gt&lt/div&gt</b> or <b>&ltinput class="vortex_email" /&gt</b>. Here is the complete list of available classes: <i>vortex_from_email, vortex_first_name, vortex_first_name, vortex_last_name, vortex_email, vortex_phone, vortex_address, vortex_address_2, vortex_city, vortex_state, vortex_country, vortex_zip, vortex_ip_address</i>.
</template>

