<template name="realtime_metrics">
	Here will go a custom user interface that displays which step users are on in realtime within "buckets". So, for example, if 100 users are on step 1, their 100 IP addresses will be shown in a box, and if 15 are on step 2, 15 email addresses will be listed in a box.
	
	<br /><br />
	The "buckets" will include more than just steps 1, 2, and 3. Specifically, it will include those steps, plus a bucket to contain visitors that bounced rom step 2 and are now in the email delivery cue. A 5th bucket will include those returning visitors we brought back to step 2. And then a 6th bucket will list users who completed all 3 steps as a result of our recovery email.
	
	<br /><br />
	The idea is to get a "realtime" feel for what's going on with the site. Also note that this visualization displays aggregate visitors across all sites (if not too many users) as well as visitors just on a particular campaign's site. 
	
	<br /><br />
	Note: when you click the campaign link in rows on My Campaigns, you will arrive at the filtered version of this page which shows realtime metrics just for the clicked campaign.
</template>