<template name="embed_code">
	<script type='text/javascript'>
		try {
			var vc = vortexCookie || function() {},
				t = 'TRANSACTION_ID',
				p = window.location.search.substring(1).split('&')[0].split('=')[1] || vc('vp_id'),
				c = window.location.search.substring(1).split('&')[1].split('=')[1] || vc('vp_id'),
				s = document.createElement('script');

			s.type = 'text/javascript';
			s.src = '{{host}}/recovery?p='+p+'&c='+c+'&t='+t;
			document.getElementsByTagName('head')[0].appendChild(s);
		}
		catch (e) {console.log(e);}
	</script>
</template>


<template name="embed_code_step_2">
	<script type='text/javascript'>
		try {
			var t = '1092834030',
				p = window.location.search.substring(1).split('&')[0].split('=')[1],
				c = window.location.search.substring(1).split('&')[1].split('=')[1],
				s = document.createElement('script');
				
			s.type = 'text/javascript';
			s.src = '{{host}}/recovery?p='+p+'&c='+c+'&t='+t;
			document.getElementsByTagName('head')[0].appendChild(s);
		}
		catch (e) {console.log(e);}
	</script>
</template>


<template name="cookie_code">
	vortexCookie = function(name, value, options) {
	    if (typeof value != 'undefined') { 
	        options = options || {};
	        if (value === null) {
	            value = '';
	            options.expires = -1;
	        }
	        var expires = '';
	        if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
	            var date;
	            if (typeof options.expires == 'number') {
	                date = new Date();
	                date.setTime(date.getTime() + (options.expires * 24 * 60 * 60 * 1000));
	            } else {
	                date = options.expires;
	            }
	            expires = '; expires=' + date.toUTCString();
	        }
	        var path = options.path ? '; path=' + (options.path) : '';
	        var domain = options.domain ? '; domain=' + (options.domain) : '';
	        var secure = options.secure ? '; secure' : '';
	        document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
	    } else { // only name given, get cookie
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	};
	
	vortexCookie('vp_id', {{p}}, {path:'/'});
	vortexCookie('vc_id', {{c}}, {path:'/'});
</template>

<template name="cookie_code_2">
	vortexCookie = function(name, value, options) {
	    if (typeof value != 'undefined') { 
	        options = options || {};
	        if (value === null) {
	            value = '';
	            options.expires = -1;
	        }
	        var expires = '';
	        if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
	            var date;
	            if (typeof options.expires == 'number') {
	                date = new Date();
	                date.setTime(date.getTime() + (options.expires * 24 * 60 * 60 * 1000));
	            } else {
	                date = options.expires;
	            }
	            expires = '; expires=' + date.toUTCString();
	        }
	        var path = options.path ? '; path=' + (options.path) : '';
	        var domain = options.domain ? '; domain=' + (options.domain) : '';
	        var secure = options.secure ? '; secure' : '';
	        document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
	    } else { // only name given, get cookie
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	};	
</template>